.about-us {
    background-image: url('../images/bg-section-about-us.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    width: 100%;
    height: 630px;

    h2 {
        position: absolute;
        text-align: center;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        font-size: 1.8em;
        width: 100%;
        padding: 0 10px;
        margin: 0;
    }

    p {
        position: absolute;
        text-align: center;
        margin: 0;
        top: 52.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0.85em;
        width: 80%;
    }

    a{
        position: absolute;
        text-align: center;
        top: 67.5%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-decoration: none;
        color: white;
        border: 1px solid white;
        padding: 10px;
        margin: 7.5px auto;
        font-size: 1.1em;
        font-weight: 700;
        transition: all 0.3s ease;
        text-transform: uppercase;
        width: 135px;
        
        &:hover {
            background-color: white;
            color: $brand-color;
        }
    }
}

@media only screen and (min-width: 768px){
    .about-us {
        h2 {
            font-size: 2em;
            width: 75%;
        }

        p {
            font-size: 1em;
            width: 50%;
        }
    }
}

@media only screen and (min-width: 1024px){
    .about-us {
        h2 {
            font-size: 3em;

        }
    }
}

@media only screen and (min-width: 1024px){
    .about-us {
        h2 {
            width: 66.66%;
        }

        p {
            width: 40%;
        }
    }
}

