.contact-location {
    display: grid;
    position: relative;
    overflow: hidden;
    grid-template-areas:
    "location"
    "contact";
    
    h2 {
        text-align: center;
        font-size: 1.8em;
        text-transform: uppercase;
    }

    a {
        transition: all 0.3s ease;
    }

    .contact-wave {
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 100%;

        img {
            display: block;
            left: 0;
            height: 60px;
            transform:scale(2);
        }
    }
}

.contact-us {
    background-color: $brand-color-dark-blue;
    grid-area: contact;
    min-height: 400px;
    height: auto;
    position: relative;

    .contact-us-text{
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        h2 {
            color: white;
            width: 90vw;
            margin: 0 0 43px;
        }
    
        a {
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            color: white;
            border: 1px solid white;
            padding: 10px;
            width: 120px;
    
            &:hover {
                background-color: white;
                color: $brand-color-dark-blue;
            }
        }
    }
}

.location {
    grid-area: location;
    min-height: 334px;
    background-image: url("../images/map.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    padding-top: 63.25%;

    .location-text {

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            color: $brand-color-grey;
            width: 290px;
            margin: 0 0 33px;
        }
    
        a {
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            color: $brand-color-grey;
            border: 1px solid black;
            padding: 10px;
            width: 205px;
            
            &:hover {
                background-color: $brand-color-grey;
                border: 1px solid $brand-color-grey;
                color: white;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    .contact-location {
        grid-template-areas:
        "contact location";

        .contact-us {
            padding-top: 50%;
            min-height: 372px;

            h2 {
                width: 300px;
            }

            a {
                color: white;
                background-color: $brand-color;
                border: 1px solid $brand-color;
            }
        }

        .location {
            padding-top: 50%;
            min-height: 372px;

            .location-text {
                top: 40%;

                h2 {
                    width: 300px;
                }

                a {
                    color: white;
                    background-color: $brand-color;
                    border: 1px solid $brand-color;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px){
    .contact-location {
        .contact-us {
            min-height: 430px;

            .contact-us-text {
                h2 {
                    font-size: 3em;
                    width: 487px;
                }

                a {
                    font-size: 1.25em;
                }
            }
        }

        .location {
            min-height: 430px;

            .location-text {
                h2{
                    font-size: 3em;
                    width: 450px;
                }

                a{
                    font-size: 1.25em;
                }
            }
        }
    }
}

@media only screen and (min-width: 1620px){
    .contact-location {
        .contact-us {
            min-height: 467px;

            .contact-us-text {
                
            }
        }

        .location {
            min-height: 467px;
        }
    }
}