footer {
    background-color: rgba(0, 157, 220, 1);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 0.875em;

    .footer-bottom {
        width: 100%;
        margin: 0 auto;

        .social-media-links {
            margin: 15px 0 15px;
        }
    
        .footer-links {
            margin: 0 0 15px;
        }
    }

    a{
        text-decoration: none;
        color: white;
        margin: 0 5px;
    }

    .svg-container {
        width: 100%;

        a {
            display: block;
            margin: 0 auto;
            text-align: center;
            width: 100px;
            height: 50px;

            svg {
                width: 100px;
                height: 50px;
            }
        }
    }
}

@media only screen and (min-width: 365px){
    footer{
        .footer-bottom {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .social-media-links {
                margin: 15px 15px 15px;
            }
    
            .footer-links{
                margin: 15px 15px 15px;
                
                a:first-child {

                }
            } 
        }
    }
}

@media only screen and (min-width: 616px){
    footer {
        .footer-bottom {
            .copyright{
                display:block;
                margin: 15px 0 15px;
            }
        }
    }
}