header {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: rgba(black, 0.5);
    width: 100%;
    padding: 5px;
    justify-content: space-between;

    a {
        display: block;
        width: 100px;
        height: 50px;
        padding: 5px;

        svg {
            width: 100px;
            height: 50px;
        }
    }

    .svg-nav-container {
        height: auto;

        nav {
            display: block;
            margin: 0;
            width: 100%;
    
            ul {
                padding: 0;
    
                a {
                    width: 100%;
                }
            }
        }
    }


    .left-links {
        display: none;
    }

    .right-links {
        display: none;
    }

    .menu {
        padding: 10px 0;

        .bar {
            display: block;
            background-color: white;
            margin: 6px;
            width: 33px;
            height: 3px;
        }
        
    }
    
    .open-menu {
        .bar1 {
            animation: topRotateDown 0.2s linear forwards;
        }
        .bar2 {
            animation: fadeOut 0.4s linear forwards;
        }
        .bar3 {
            animation: bottomRotateUp 0.2s linear forwards;
        }
    }

    .close-menu {
        .bar1 {
            animation: rotateReturn 2.2s linear backwards;
        }
        .bar2 {
            animation: fadeIn 0.4s linear;
        }
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes bottomRotateUp {
    0% { }
    100% { 
        transform: translateY(-8px) rotate(45deg);
    }
}

@keyframes topRotateDown {
    0% { }
    100% { 
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}