header {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 0;

    .header-shade {
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: rgba(37, 35, 35, 0.5);
    }

    a {
        display: block;
        width: 100px;
        height: 50px;
        padding: 5px;
    }

    .animateOpenMenu {
        .mainNav {
            animation: slideUpMenu 0.4s linear forwards;
        }
    }

    .animateCloseMenu { 
        margin-top: 0; 
        .mainNav {
            animation: slideDownMenu 0.4s linear forwards;
        }
    }

    nav {
        margin: 0;
        overflow: hidden;
        
        .mainNav {
            transform: translateY(-100%);
            padding: 0;
            margin-top: 5px;
            background-color: rgba(37, 35, 35, 0.5);

            a {
                height: 30px;
                width: 100%;
                margin-left: 5px;
                text-decoration: none;
                color: white;
                text-transform: uppercase;
            }

            .dropdownList {
                text-indent: 10px;
                padding: 0;
                display: none;

                li {
                    width: 100%;
                    background-color: rgba($brand-color, 0.7);
                }
            }

            .menuItem:hover {
                background-color: $brand-color;
                .dropdownList {
                    display: block;

                    .subMenu {
                        background-color: rgba(black, 0.3);
                    }
                    .subMenu:hover {
                        background-color: rgba(black, 0.6);
                    }
                }
            }
        }
    }

    .menu {
        display: block;
        float: right;
        position: relative;
        
        #hamburger-container {
            position: absolute;
            top: 8px;
            right: 0px;
            padding: 0 3px;
            z-index: 30;
            cursor: pointer;

            .bar {
                display: block;
                background-color: white;
                margin: 6px;
                width: 33px;
                height: 3px;
            }
        }
    }
    
    .full-nav {
        .svg-nav-container {
            display: block;
            height: 50px;
            width: 100%;
            overflow: hidden;
            position: relative;

            svg {
                width: 100px;
                height: 50px;
            }
        }

        .left-links,
        .right-links {
            display: none;
        }
    }
    
    .open-menu {
        .bar1 {
            animation: topRotateDown 0.2s linear forwards;
        }
        .bar2 {
            animation: fadeOut 0.4s linear forwards;
        }
        .bar3 {
            animation: bottomRotateUp 0.2s linear forwards;
        }
    }

    .close-menu {
        .bar1 {
            animation: rotateReturn 2.2s linear backwards;
        }
        .bar2 {
            animation: fadeIn 0.4s linear;
        }
    }
}

@keyframes slideUpMenu {
    0% {
        margin-top: -5px; 
        transform: translateY(-101%);
    }
    100% { 
        margin-top: 0; 
        transform: translateY(0);
    }
}

@keyframes slideDownMenu {
    0% { 
        margin-top: 0; 
        transform: translateY(0);
    }
    100% { 
        margin-top: -5px; 
        transform: translateY(-101%);
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes bottomRotateUp {
    0% { }
    100% { 
        transform: translateY(-8px) rotate(45deg);
    }
}

@keyframes topRotateDown {
    0% { }
    100% { 
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@media (min-width: 768px) {
    header {
        .header-shade,
        .menu {
            display: none;
        }

        .full-nav {
            display: flex;
            justify-content: space-between;
            
            .left-links,
            .right-links {
                display: flex;
                justify-content: center;
                white-space: nowrap;
                width: 40%;
                margin-top: 10px;
                
                a {
                    color: white;
                    text-transform: uppercase;
                    width: 100%;

                    i {
                        padding: 0 8px;
                    }
                }
            }
            .left-links {
                order: 1;
                text-align: right;
            }
            
            .right-links {
                order: 3;
            }
            
            .svg-nav-container {
                order: 2;
                height: 100px;
                width: 170px;

                a {
                    margin: 20px 0;
                    svg {
                        width: 160px;
                        height: 80px;
                    }
                }
            }
        }
        
        nav {
            overflow: visible;
            position: absolute;
            width: 80%;
            height: 40px;

            left: 50%;
            top: 140px;
            transform: translateX(-50%);
            background-color: rgba(37, 35, 35, 0.5);
            
            .mainNav {
                display: flex;
                justify-content: space-between;
                margin: 0;
                font-size: 0.8em;
                transform: translateY(0);
                background-color: transparent;

                .menuItem {
                    height: 40px;
                    a {
                        height: 100%;
                        padding: 12px;
                        margin: 0;
                    }
                    
                    .dropdownList {
                        background-color: rgba($brand-color, 0.9);
                        position: absolute;

                        .subMenu {
                            display: block;
                        }
                    }
                }

                .menuMobileOnly {
                    display: none;
                }
            }
        }

    }
}

@media (min-width: 1024px) {
    header {
        .full-nav {
            margin: 0 4%;
            
            .left-links,
            .right-links {
                a {
                    width: 150px;
                }
            }

            .left-links {
                text-align: left;
                justify-content: flex-start;
            }

            .right-links {
                text-align: right;
                justify-content: flex-end;
            }
        }

        nav {
            width: 75%;
            padding: 0 30px;

            .mainNav {
                font-size: 1em;
            }
        }
    }
}

@media (min-width: 1300px) {
    header {
        nav {
            width: 65%;
            height: 75px;
            padding: 0 30px;

            .mainNav {
                font-size: 1em;
                .menuItem {
                    height: 75px;
                    a {
                        padding: 30px;
                    }
                    .dropdownList{
                        .subMenu {
                            height: 55px;
                            a {
                                padding: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}