header {
    position: absolute;
    top: 0;
    z-index: 5;
    background-color: rgba(37, 35, 35, 0.5);
    width: 100%;
    padding: 5px;
    justify-content: space-between;

    a {
        display: block;
        width: 100px;
        height: 50px;
        padding: 5px;

    }

    .menu {
        padding: 10px 0;
        position: relative;
        // border: 300px solid red;

        .bar {
            display: block;
            background-color: white;
            margin: 6px;
            width: 33px;
            height: 3px;
        }
    }
    
    .svg-nav-container {
        display: block;
        height: 50px;
        width: 100%;
        overflow: hidden;
        position: relative;

        svg {
            width: 100px;
            height: 50px;
        }

        nav {
            margin: 0;

            ul {
                padding: 0;
                
                li:hover {
                    background-color: $brand-color;
                }

                a {
                    height: 30px;
                    width: 100%;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }
                

                .dropdownList {
                    margin-left: 10px;

                    li {
                        background-color: rgba($brand-color, 0.7);
                    }
                }
            }
        }
    }

    .left-links {
        display: none;
    }

    .right-links {
        display: none;
    }
    
    .open-menu {
        .bar1 {
            animation: topRotateDown 0.2s linear forwards;
        }
        .bar2 {
            animation: fadeOut 0.4s linear forwards;
        }
        .bar3 {
            animation: bottomRotateUp 0.2s linear forwards;
        }
    }

    .close-menu {
        .bar1 {
            animation: rotateReturn 2.2s linear backwards;
        }
        .bar2 {
            animation: fadeIn 0.4s linear;
        }
    }

    .animateOpenMenu {
        animation: slideDownMenu 0.4s linear forwards;
    }

    .animateCloseMenu {  
        animation: slideUpMenu 0.4s linear forwards;
    }
}



@keyframes slideUpMenu {
    0% { 
        height: 450px;
        overflow: hidden;
    }
    100% { 
        height: 50px;
    }
}

@keyframes slideDownMenu {
    0% { 
        height: 50px;
        overflow: hidden;
    }
    50% {
        height: 450px;
    }
    100% { 
        overflow: visible;
        height: 450px;
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes bottomRotateUp {
    0% { }
    100% { 
        transform: translateY(-8px) rotate(45deg);
    }
}

@keyframes topRotateDown {
    0% { }
    100% { 
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}