header {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 0;

    .header-shade {
        position: absolute;
        width: 100%;
        height: 55px;
        background-color: rgba(37, 35, 35, 0.5);
    }

    a {
        display: block;
        width: 100px;
        height: 50px;
        padding: 5px;
    }

    .menu {
        display: block;
        float: right;
        position: relative;
        
        #hamburger-container {
            position: absolute;
            top: 8px;
            right: 0px;
            padding: 0 3px;
            z-index: 30;
            cursor: pointer;

            .bar {
                display: block;
                background-color: white;
                margin: 6px;
                width: 33px;
                height: 3px;
            }
        }
    }
    
    .svg-nav-container {
        display: block;
        height: 50px;
        width: 100%;
        overflow: hidden;
        position: relative;

        svg {
            width: 100px;
            height: 50px;
        }

        nav {
            margin: 0;

            .mainNav {
                padding: 0;
                margin-top: 5px;
                background-color: rgba(37, 35, 35, 0.5);

                a {
                    height: 30px;
                    width: 100%;
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                }

                .dropdownList {
                    text-indent: 10px;
                    padding: 0;
                    display: none;

                    li {
                        width: 100%;
                        background-color: rgba($brand-color, 0.7);
                    }
                }

                .menuItem:hover {
                    background-color: $brand-color;
                    .dropdownList {
                        display: block;

                        .subMenu {
                            background-color: rgba(black, 0.3);
                        }
                        .subMenu:hover {
                            background-color: rgba(black, 0.6);
                        }
                    }
                }
            }
        }
    }

    .left-links {
        display: none;
    }

    .right-links {
        display: none;
    }
    
    .open-menu {
        .bar1 {
            animation: topRotateDown 0.2s linear forwards;
        }
        .bar2 {
            animation: fadeOut 0.4s linear forwards;
        }
        .bar3 {
            animation: bottomRotateUp 0.2s linear forwards;
        }
    }

    .close-menu {
        .bar1 {
            animation: rotateReturn 2.2s linear backwards;
        }
        .bar2 {
            animation: fadeIn 0.4s linear;
        }
    }

    .animateOpenMenu {
        animation: slideDownMenu 0.4s linear forwards;
    }

    .animateCloseMenu {  
        animation: slideUpMenu 0.4s linear forwards;
    }
}

@keyframes slideUpMenu {
    0% { 
        overflow: hidden;
    }
    100% { 
        height: 50px;
    }
}

@keyframes slideDownMenu {
    0% { 
        height: 50px;
        overflow: hidden;
    }
    100% { 
        overflow: visible;
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes topRotateReturn {
    0% { 
        transform: translateY(10px) rotate(-45deg);
    }
    100% { 
        transform: translateY(-10px) rotate(45deg);
    }
}

@keyframes bottomRotateUp {
    0% { }
    100% { 
        transform: translateY(-8px) rotate(45deg);
    }
}

@keyframes topRotateDown {
    0% { }
    100% { 
        transform: translateY(10px) rotate(-45deg);
    }
}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@media (max-width: 768px) {

    .menu {
        display: none;
        
        #hamburger-container {
            position: absolute;
            top: 8px;
            right: 0px;
            padding: 0 3px;
            z-index: 30;
            cursor: pointer;

            .bar {
                display: block;
                background-color: white;
                margin: 6px;
                width: 33px;
                height: 3px;
            }
        }
    }
}