.newsletter {
    width: 100%;
    background-color: rgba(184, 221, 241, 1);
    
    label {
        color: rgba(21, 74, 102, 1);
        font-size: 1.25em;
    }

    form {
        display: flex;

        input[type=text]{
            padding: 10px 5px;
        }
    }

    input[type=submit]{
        border: none;
        color: white;
        text-transform: uppercase;
        background-color: rgba(0, 157, 220, 1);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 10px;
        transition: all 0.3s ease;
        
        &:hover {
            background-color: $brand-color-grey;
        }
    }
}