// .product-advisor-wave{        
//     position: relative;
//     bottom: 0px;
//     // overflow: hidden;
        
//     img {
//         object-fit: fill;
//         transform: scale(2);
//         max-height: 25px;
//         width: 100%;
//     }
// }

.product-advisor-wave {
    position: relative;
    bottom: -1%;
    left: 30%;

    img {
        object-fit: fill;
        max-height: 25px;
        width: 100%;
        transform: scale(2);
    }
}

.product-advisor {
    background-color: $brand-color-dark-blue;
    position: relative;
    color: white;
    padding: 0 10px;

    h3 {
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding: 25px 0 0;
    }

    p {
        font-size: 0.85em;
        text-align: center;
        padding: 0 0 10px;
    }

    form {
        border-top: 1px solid white;
        padding: 10px 0 0;

        .form-group {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            label {
                font-size: 0.85em;
                font-family: 'Roboto Condensed', sans-serif;
            }

            select {
                margin: 5px 0;
                padding: 10px 5px;
                color: grey;
            }

        }
    }
}

input[type=submit]{
    cursor: pointer;
    width: 100%;
    background-color: $brand-color;
    padding: 10px;
    border: none;
    color: white;
    text-transform: uppercase;
    margin: 25px 0 50px;
    font-size: 0.75em;
    font-weight: 500;
    transition: all 0.3s ease;

    &:hover {
        background-color: white;
        color: $brand-color;
    }
}