/* ******************************
    Images - Max-Width Reset
****************************** */

img {
    max-width: 100%;
    height: auto;
}

/* ******************************
        Box Sizing Reset
****************************** */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

/* ******************************
        Nav Reset
****************************** */

ul, 
li {
    list-style: none;
}

/* ******************************
        Body Margin Reset
****************************** */

body {
    margin: 0;
}

/* ******************************
        A Tag Reset
****************************** */

a {
    text-decoration: none;
}