.slideshow {
    overflow: hidden;
    width: 100%;
    height: 650px;
    background: white;
    position: relative;

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    .slideshow-dot {
        display: inline-block;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translate(-50%, 0);

        .dot {
            cursor: pointer;
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: white;
            border-radius: 50%;
            margin: 0 1px;
        }
    }

    .slideshow-wave {
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 100%;

        img {
            display: block;
            left: 0;
            height: 60px;
            transform: scale(2);
        }
    }

    h1 {
        display: block;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        max-width: 960px;
        width: 90%;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8em;
        font-weight: 700;
    }

    .slideshow-btn{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);

        a{
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: white;
            font-size: 0.9em;
            padding: 10px;
            border: 1px solid white;
            margin: 7.5px auto;
            transition: all 0.3s ease;
            width: 135px;

            &:hover {
                background-color: white;
                color: $brand-color;
            }
        }

    }
}

@media (min-width: 768px) {
    h1 {
        margin-top: 90px;
    }

    .slideshow {
        .slideshow-wave {
            position: absolute;
            bottom: 0;
            left: 0;

            img {
                display: block;
                left: 0;
                height: 120px;
                width: 100%;
                transform: scale(1);
            }
        }
    }
}