@charset "utf-8";
/* CSS Document */

// Sass imports go here...

// Resets
@import 'resets';
@import 'typography';
@import 'variables';

// Header
@import 'header';

// Slideshow
@import 'slideshow';

// Products
@import 'products';

// Product Advisor
@import 'product-advisor';

// About
@import 'about';

svg {
    display: none;
}

.about-us-video {
    display: none;
}